// common
p{
    margin-bottom: 0 !important;
}
.pt-6{
    padding-top: 6px !important;
}
.boder-bottom{
    border-bottom: 1px solid #ccc;
}
.white{
    color: #ffffff;
}
hr{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.error-sybol::after{
    content: "*";
    color: red;
}
.form-group {
    // margin-bottom: 0 !important;
    label, select{
        margin-bottom: 0 !important;
    }
}
.app-header{
    background-color: #3c8dbc !important;
    p, .nav-link{
        color: #ffffff;
    }
    .navbar-brand{
        color: #ffffff;
        font-size: 28px;
        font-weight: bold;
    }
}
.main .container-fluid {
    padding: 0.75rem !important;
}
.card {
    margin-bottom: 0.5rem !important;
}
.sidebar .nav-link:focus, .sidebar .nav-link:active{
    background: #cccccc;
}
.app-welcome{
    display: flex;
    min-height: 86vh
}
.start-require:before {
    color: #f7061d;
    content: "*"
}
.showQACode{
    margin-top: 1rem;
}
.pointer{
    cursor: pointer;
}
// buttons style
@media (max-width: 320px){
    .main button, .main a.btn{
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (min-width: 321px) and (max-width: 600px){
    .main button{
        margin-left: 10px;
    }
}
.btn-switch-toggle {
    margin-bottom: 4px !important;
}
.btn-switch-toggle.toggled {
    .v-switch-core{
        background-color: #20a8d8 !important
    }
}
// table style
.main table td.actions-cell{
    text-align: center;
    padding: 5px;
    .list-group-horizontal{
        display: inline-flex;
        .list-group-item{
            padding: 4px 10px !important;
        }
    }
}
.table thead th{
    background: #f0f3f5;
}
.table th, .table td{
    padding: 0.5rem;
}
@media (min-width: 768px){
    .w-10{
        width: 10%;
    }
}
.w-70{
    width: 70% !important;
}
.table-btn-list-group{
    a {
        color: #23282c !important
    }
}
// welcome screen
.info-welcome{
    border: 1px solid #cccccc;
    .user-img{
        border-radius: 50%;
        border: 1px solid #ccc;
        padding: 15px 20px;
        margin: 10px 10px 10px 0px;
        float: left;
    }
    .info-access{
        div p{
            float: left;
        }
        div .qa-code{
            float: right;
        }
    }
}
// update info user
.info-update{
    i, p{
        float: left;
    }
}
// form
.trade-quantity  span, .trade-remaining span{
    display: block;
    float: left;
    margin-top: 0.5em;
}
.trade-quantity input, .trade-remaining input{
    width: 70%;
}
.preview-box{
    border: 1px solid #e4e7ea;
    height: 100px;
    border-radius: .25rem
}
.welcome-page{
    img{
        width: 290px;
        height: 200px;
    }
    text-align: center;
}
.promo-tabs-link {
    cursor: pointer;
    color: #20a8d8;
}
.promo-tabs-link:hover {
    text-decoration: underline;
}

//.carousel img{
//    height: 250px;
//}
