// If you want to override variables do it here
@use "variables" as *;

// ie fixes
@use "ie-fix" as *;

// CoreUI Dark theme (includes Bootstrap grid system)
// @use "coreui_dark" as *;



.input-date {
    width: 100%;
    border: 0px;
}

.loading-more {
    display: block;
    text-align: center;
    margin: 1em 0;
}

// Slide image in home page
.slider-entertainment {
height: 175px;
width: 300px;
background: #FFF;
  img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  }
}

