@use "variables" as *;
@use "ie-fix" as *;

// If you want to override variables do it here
// If you want to add something do it here

.input-date {
    width: 100%;
    border: 0px;
}

.loading-more {
    display: block;
    text-align: center;
    margin: 1em 0;
}

// Slide image in home page
.slider-entertainment {
  height: 175px;
  width: 300px;
  background: #FFF;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.iconsCustom {
    width: 40px;
    height: 40px;
}

